# QUESTION 1:

Print the three first rows using head() method :

In [1]:
import pandas as pd
exam_data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, "np.nan", 9, 20, 14.5, "np.nan", 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
PROGRAM=pd.DataFrame(exam_data, columns = ['name', 'score', 'attempts', 'qualify'], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(PROGRAM)

        name   score  attempts qualify
a  Anastasia    12.5         1     yes
b       Dima       9         3      no
c  Katherine    16.5         2     yes
d      James  np.nan         3      no
e      Emily       9         2      no
f    Michael      20         3     yes
g    Matthew    14.5         1     yes
h      Laura  np.nan         1      no
i      Kevin       8         2      no
j      Jonas      19         1     yes

In [2]:
TOP_THREE=PROGRAM.head(3)
print(TOP_THREE)

        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes

# QUESTION 2 :

Delete rows with Nan values

In [3]:
Q2=PROGRAM.drop(labels=["d","h"])
print(Q2)

        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
i      Kevin     8         2      no
j      Jonas    19         1     yes

# QUESTION 3 :

Extract the 'name' and 'score' columns from the DataFrame.

In [4]:
Q3=PROGRAM.drop(columns=["name","score"])
print(Q3)

   attempts qualify
a         1     yes
b         3      no
c         2     yes
d         3      no
e         2      no
f         3     yes
g         1     yes
h         1      no
i         2      no
j         1     yes

# QUESTION 4 :

Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")

In [5]:
NEWLINE={'name' : "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
Q4=PROGRAM.append(NEWLINE,ignore_index=True)
print(Q4)

         name   score  attempts qualify
0   Anastasia    12.5         1     yes
1        Dima       9         3      no
2   Katherine    16.5         2     yes
3       James  np.nan         3      no
4       Emily       9         2      no
5     Michael      20         3     yes
6     Matthew    14.5         1     yes
7       Laura  np.nan         1      no
8       Kevin       8         2      no
9       Jonas      19         1     yes
10     Suresh    15.5         1     yes

# QUESTION 5 :

Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [6]:
Q5=PROGRAM.drop(columns=["attempts"])
print(Q5)

        name   score qualify
a  Anastasia    12.5     yes
b       Dima       9      no
c  Katherine    16.5     yes
d      James  np.nan      no
e      Emily       9      no
f    Michael      20     yes
g    Matthew    14.5     yes
h      Laura  np.nan      no
i      Kevin       8      no
j      Jonas      19     yes

# QUESTION 6 :

Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0

In [7]:
SUCCESS=['TRUE','FALSE', 'TRUE', 'FALSE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']
PROGRAM["SUCCESS"]=SUCCESS
print(PROGRAM)

        name   score  attempts qualify SUCCESS
a  Anastasia    12.5         1     yes    TRUE
b       Dima       9         3      no   FALSE
c  Katherine    16.5         2     yes    TRUE
d      James  np.nan         3      no   FALSE
e      Emily       9         2      no   FALSE
f    Michael      20         3     yes    TRUE
g    Matthew    14.5         1     yes    TRUE
h      Laura  np.nan         1      no   FALSE
i      Kevin       8         2      no   FALSE
j      Jonas      19         1     yes    TRUE