In [1]:
FIRST_NAME=input()
LAST_NAME=input()
print(LAST_NAME,FIRST_NAME)

Jhon
LENNON
LENNON Jhon

In [8]:
x=int(input("n="))
y=x+x*11+x*111
print(y)

n=5
615

In [4]:
x=int(input("n="))
if x%2==0:
    print("The number n is even")
elif x%2==1:
    print("The number n is odd")
else:
    print("Error")

n=25
The number n is odd

In [5]:
for y in range(2000,3200,7):
    print(y)

2000
2007
2014
2021
2028
2035
2042
2049
2056
2063
2070
2077
2084
2091
2098
2105
2112
2119
2126
2133
2140
2147
2154
2161
2168
2175
2182
2189
2196
2203
2210
2217
2224
2231
2238
2245
2252
2259
2266
2273
2280
2287
2294
2301
2308
2315
2322
2329
2336
2343
2350
2357
2364
2371
2378
2385
2392
2399
2406
2413
2420
2427
2434
2441
2448
2455
2462
2469
2476
2483
2490
2497
2504
2511
2518
2525
2532
2539
2546
2553
2560
2567
2574
2581
2588
2595
2602
2609
2616
2623
2630
2637
2644
2651
2658
2665
2672
2679
2686
2693
2700
2707
2714
2721
2728
2735
2742
2749
2756
2763
2770
2777
2784
2791
2798
2805
2812
2819
2826
2833
2840
2847
2854
2861
2868
2875
2882
2889
2896
2903
2910
2917
2924
2931
2938
2945
2952
2959
2966
2973
2980
2987
2994
3001
3008
3015
3022
3029
3036
3043
3050
3057
3064
3071
3078
3085
3092
3099
3106
3113
3120
3127
3134
3141
3148
3155
3162
3169
3176
3183
3190
3197

In [9]:
n=int(input("n="))
def Fact(n):
    if n<2:
        return 1
    else:
        return n*Fact(n-1)
print("Factoriel de n est :",Fact(n))

n=10
Factoriel de n est : 3628800

In [10]:
x="THE UNITED STATES OF AMERICA"
y=x.replace(' ','')
print(y)
k=int()
for k in range(0,len(y),2):
    print(y[k])

THEUNITEDSTATESOFAMERICA
T
E
N
T
D
T
T
S
F
M
R
C

In [12]:
price=int(input("price="))
if price>=500:
    print("There is 50% discount.")
    print("The new price is:")
    y=price/2
    print(y)
elif 200<=price<500:
    y=x*0,7
    print("There is 30% discount.")
    print("The new price is:")
    y=price*7/10
    print(y)
else:
    print("There is 10% discount.")
    print("The new price is:")
    y=price*9/10
    print(y)

price=700
There is 50% discount.
The new price is:
350.0

In [13]:
x=int(input("year:"))
if x%4 ==0:
    print("The year is a leap year")
else:
    print("The year is not a leap year")

year:2021
The year is not a leap year